@import 'https://fonts.googleapis.com/css?family=Raleway:400,600';

$font-main: 'Raleway', sans-serif;

$container-sm: 320px;
$container-md: 768px;
$container-lg: 1224px;

$font-weight-normal: 300;
$font-weight-bold: 600;

$color-white: #fff;
$color-offwhite: #ccc;
$color-red: #ff3333;
$color-grey: #666666;
$color-black: #333;
$color-black-dark: #000;

$color-background: rgb(255, 255, 255);
$color-bg-explore: rgb(240, 240, 240);
$color-bg-pricing: rgb(240, 250, 254);
